html,
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #606063;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: "News Cycle", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.center-div {
  display: inline-block;
  width: 100%;
  height: 100%;
}